/********************  Boaz formating start **********************/

body {
  max-width: 2570px;
  margin: auto;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 13px;
  background: white;
  border-left: 0 solid white;
  border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #ff8639, #ff8639, #ff8639);
  background-size: 180% 180%;
  width: 0;
  height: 25%;
  animation: gradient-animation 5s ease infinite;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h2,
h3,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.grid-2,
.grid-3,
.grid-4,
.grid-7,
.grid-8 {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}

.z-100 {
  z-index: 100;
}

.float-right {
  float: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.t-end {
  text-align: end;
}

.t-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.animate-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.bg-color-w {
  background-color: #fff;
}

.text-color {
  color: #20273f;
}

.text-color-w {
  color: #fff;
}

.linear-font {
  background: linear-gradient(100deg, #001647, #155b9b, #001647);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

/********************   Animation formating start **********************/

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/********************   Animation formating end **********************/

/********************  Identical instructions start **********************/

.services-content,
.blog-content {
  padding: 5em;
}

.menu__item {
  font-size: 1rem;
}

.header-body__img,
.header-body__video,
.header-body__absolute-box,
.about-content__img-box__img,
.footer-content__img-box__img,
.form-group__input,
.form-group__textarea {
  width: 100%;
}

.header-body__absolute-box__text-box,
.header-body__absolute-box__nav-box {
  width: 50%;
}

.about-content,
.footer-content__flex-box {
  background: #20273f;
}

.about-content__img-box__img,
.footer-content__img-box__img {
  object-fit: cover;
}

.about-content,
.footer-content__flex-box {
  padding: 7em 5em;
}

.about-content__flex-box__blank-div,
.footer-content__flex-box__blank-div {
  width: 45%;
}

.about-content__img-box,
.footer-content__img-box {
  width: 55%;
}

.about-content__img-box__img {
  height: 36em;
}

.footer-content__img-box__img {
  height: 39em;
}

.about-content__text-box,
.footer-content__text-box {
  padding: 5em 3em;
  width: 47%;
  transform: translateY(-50%);
  top: 50%;
}

.page-nuxt-link {
  background: #1484e0;
  padding: 0.5em 1em;
}

.page-nuxt-link__img {
  width: 0.6em;
  margin-left: 0.4em;
}

.page-nuxt-link__img--formating {
  width: 0.9em;
  margin-left: 0.5em;
}

.form-group__input,
.form-group__textarea {
  border: 0;
  background: #f7f7f7;
  margin-bottom: 0.5em;
  padding: 1em;
  color: #9d9d9d;
}

.header-body__absolute-box__nav-box,
.footer__bottom__text-box__p--formating,
.footer__bottom__img-box,
.contact-form__link-box {
  align-items: center;
}

/********************  Identical instructions end **********************/

/********************  Header formating start **********************/

.header-content {
  padding: 0 5em;
  height: 0;
}

.header-content__logo-box {
  width: 23%;
  padding: 3em 0 0 0;
}

.header-content__nav-box {
  width: 80%;
}

.header-content__logo-box__link__img {
  width: 70%;
}

.menu__list {
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.header-body__absolute-box {
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5em;
}

.header-body__absolute-box__nav-box {
  justify-content: end;
}

.header-body__absolute-box__text-box {
  border-left: 0.3em solid #fff;
  padding-left: 1em;
}

.header-body__absolute-box__text-box__h1 {
  width: 16em;
  font-size: 1.5rem;
}

.header-body__absolute-box__text-box__p {
  width: 20em;
}

.menu__item {
  font-size: 0.9rem;
}

.menu__list__li {
  margin-bottom: 2em;
  text-align: end;
  font-size: 0.5rem;
}

/********************  Header formating end **********************/

/********************  Slider formating start **********************/

/********************  Slider formating end **********************/

/********************  Services formating start **********************/

.services-content__h2 {
  margin: 1em 0 1.7em 0;
}

.services-content__img-text-box--one-bg,
.services-content__img-text-box--two-bg,
.services-content__img-text-box--three-bg,
.services-content__img-text-box--four-bg {
  background-size: 90% !important;
  background-repeat: no-repeat !important;
  background: #f7f7f7;
}

.services-content__img-text-box--one-bg {
  background-image: url(/img/services/csapagyak-bg.png);
}

.services-content__img-text-box--two-bg {
  background-image: url(/img/services/golyosorsok-bg.png);
}

.services-content__img-text-box--three-bg {
  background-image: url(/img/services/lineartechnika-bg.png);
}

.services-content__img-text-box--four-bg {
  background-image: url(/img/services/egyedigyartas-bg.png);
}

.services-content__img-text-box {
  padding: 2em 2em 1em 2em;
}

.services-content__img-text-box__h3 {
  margin-top: 1em;
}

.services-content__img-text-box__img {
  width: 9em;
  margin: auto;
  display: block;
}

.services-content__img-text-box__link-box {
  bottom: 0.7em;
  right: 7%;
}

.services-content__img-text-box__link-box__img {
  width: 1.2em;
}

/********************  Services formating end **********************/

/********************  About formating start **********************/

.about-content__text-box {
  left: 5em;
}

.about-content__text-box__h2 {
  margin-bottom: 1em;
}

.about-content__text-box__p {
  margin-bottom: 1.5em;
}

.about-content__text-box__link-box {
  padding-top: 0.5em;
}

/********************  About formating end **********************/

/********************  Blog formating start **********************/

/********************  Blog formating end **********************/

/********************  Brands formating start **********************/

.brands-content {
  background: #ff8639;
  padding: 1em 5em 5em 5em;
}

.brands-content__h5 {
  margin: 1.3em 0 4em 0;
}

.brands-content__img-content__img-box__img {
  width: 70%;
  height: 3em;
  margin: auto;
  display: block;
}

.footer-content__text-box {
  right: 5em;
}

/********************  Brands formating end **********************/

/********************  Footer formating start **********************/

.footer__bottom {
  padding: 3.5em 5em;
}

.footer-content__text-box__h6 {
  margin-bottom: 1.7em;
}

.footer__bottom__img-box__img {
  width: 60%;
}

.contact-form__link-box {
  margin-top: 1em;
  justify-content: space-between;
}

.footer-content__text-box--formating {
  padding: 2.5em 3em 3em 3em;
}

.footer__bottom__text-box__p__link__img {
  width: 6%;
  margin-right: 0.7em;
}

.footer__bottom__text-box__footer-link-box {
  flex-direction: column;
}

.footer__bottom__text-box__h6 {
  margin: 1em 0 1.7em 0;
}

.footer-link {
  margin-bottom: 0.7em;
}

.footer__bottom__text-box__p {
  margin: 0 0 0.7em 0;
}

.footer__bottom__img-box {
  justify-content: flex-end;
}

.footer__bottom__text-box__p--formating {
  margin: 1em 0 1.5em 0;
}

.contact-form__link-box__text-box {
  width: 70%;
}

/********************  Footer formating end **********************/

/********************  Subpage formating start **********************/

/********************  Subpage formating formating end **********************/

/********************  Media formating start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
  p,
  .footer-link {
    font-size: 1.6rem;
  }
  .header-body__absolute-box__text-box__h1 {
    font-size: 2.5rem;
  }
  .menu__item {
    font-size: 1.4rem;
  }
  .services-content__h2,
  .about-content__text-box__h2,
  .blog-content__h4,
  .brands-content__h5,
  .footer__bottom__text-box__h6 {
    font-size: 1.7rem;
  }
  .services-content__img-text-box__img {
    width: 15em;
  }
  .services-content__img-text-box__h3,
  .footer-content__text-box__h6 {
    font-size: 2rem;
  }
  .services-content__img-text-box__link-box__img {
    width: 1.7em;
  }
  .about-content__img-box__img {
    height: 57em;
  }
  .page-nuxt-link {
    font-size: 1.5rem;
  }
  .about-content__text-box {
    padding: 9em 3em;
  }
  .about-content__text-box__h2 {
    margin-bottom: 1.3em;
  }
  .brands-content__img-content__img-box__img {
    height: 5em;
  }
  .brands-content {
    padding: 1em 5em 10em 5em;
  }
  .form-group__input,
  .form-group__textarea {
    font-size: 1.4rem;
  }
  .footer-content__text-box--formating {
    padding: 3.5em 3em 3em 3em;
  }
  .footer-content__text-box__h6 {
    margin-bottom: 1em;
  }
  .footer-content__img-box__img {
    height: 61em;
  }
}

@media (min-width: 2000px) and (max-width: 2200px) {
}

@media (min-width: 1800px) and (max-width: 2000px) {
}

@media (min-width: 1600px) and (max-width: 1800px) {
}

@media (min-width: 1500px) and (max-width: 1600px) {
}

@media (min-width: 1400px) and (max-width: 1500px) {
}

@media (min-width: 1200px) and (max-width: 1400px) {
}

@media (min-width: 991px) and (max-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-body__absolute-box {
    top: unset;
    width: unset;
    transform: unset;
    position: relative;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .header-content__logo-box__link__img {
    width: 17em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .partners-content__img-box {
    padding: 0 4em 0 4em;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-body__absolute-box {
    top: unset;
    width: unset;
    transform: unset;
    position: relative;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .header-content__logo-box__link__img {
    width: 17em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .partners-content__img-box {
    padding: 0 4em 0 4em;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
}

@media (min-width: 500px) and (max-width: 640px) {
}

@media (min-width: 400px) and (max-width: 500px) {
}

@media (min-width: 300px) and (max-width: 400px) {
}

/********************  Media formating end **********************/

/********************  Boaz formating end **********************/
