/********************  Boaz formating start **********************/

body {
  max-width: 2570px;
  margin: auto;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 13px;
  background: white;
  border-left: 0 solid white;
  border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #001647, #001647, #001647);
  background-size: 180% 180%;
  width: 0;
  height: 25%;
  animation: gradient-animation 5s ease infinite;
}

*,
:after,
:before {
  box-sizing: border-box;
}

h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.grid-2,
.grid-3,
.grid-7 {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.z-100 {
  z-index: 100;
}

.float-right {
  float: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.t-end {
  text-align: end;
}

.t-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.animate-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.bg-color-w {
  background-color: #fff;
}

.text-color {
  color: #001647;
}

.text-color-w {
  color: #fff;
}

.linear-font {
  background: linear-gradient(100deg, #001647, #155b9b, #001647);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

/********************   Animation formating start **********************/

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/********************   Animation formating end **********************/

/********************  Identical instructions start **********************/

.menu__item {
  font-size: 1rem;
}

.header-body,
.header-body__img,
.header-body__absolute-box {
  width: 100%;
}

.header-body__absolute-box__text-box,
.header-body__absolute-box__nav-box {
  width: 50%;
}

.header-body__absolute-box__nav-box {
  align-items: center;
}

/********************  Identical instructions end **********************/

/********************  Header formating start **********************/

.header-content {
  padding: 1em 5em;
}

.header-content__logo-box {
  width: 20%;
}

.header-content__nav-box {
  width: 80%;
}

.header-content__logo-box__link__img {
  width: 70%;
}

.menu__list {
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.header-body {
  top: 0;
}

.header-body__absolute-box {
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5em;
}

.header-body__absolute-box__nav-box {
  justify-content: end;
}

.header-body__absolute-box__text-box {
  border-left: 0.3em solid #fff;
  padding-left: 1em;
}

.header-body__absolute-box__text-box__h1 {
  width: 16em;
  font-size: 1.5rem;
}

.header-body__absolute-box__text-box__p {
  width: 20em;
}

.menu__item {
  font-size: 0.9rem;
}

.menu__list__li {
  margin-bottom: 2em;
  text-align: end;
  font-size: 0.5rem;
}

/********************  Header formating end **********************/

/********************  Slider formating start **********************/

/********************  Slider formating end **********************/

/********************  Services formating start **********************/

/********************  Services formating end **********************/

/********************  Blog formating start **********************/

/********************  Blog formating end **********************/

/********************  Footer formating start **********************/

/********************  Footer formating end **********************/

/********************  Subpage formating start **********************/

/********************  Subpage formating formating end **********************/

/********************  Media formating start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
}

@media (min-width: 2000px) and (max-width: 2200px) {
}

@media (min-width: 1800px) and (max-width: 2000px) {
}

@media (min-width: 1600px) and (max-width: 1800px) {
}

@media (min-width: 1500px) and (max-width: 1600px) {
}

@media (min-width: 1400px) and (max-width: 1500px) {
}

@media (min-width: 1200px) and (max-width: 1400px) {
}

@media (min-width: 991px) and (max-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-body__absolute-box {
    top: unset;
    width: unset;
    transform: unset;
    position: relative;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .header-content__logo-box__link__img {
    width: 17em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .partners-content__img-box {
    padding: 0 4em 0 4em;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .header-body__absolute-box {
    top: unset;
    width: unset;
    transform: unset;
    position: relative;
  }
  .menu__item {
    font-size: 1rem;
  }
  .header-content {
    padding: 2em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #001647;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
  }
  .header-content__logo-box__link__img {
    width: 17em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .partners-content__img-box {
    padding: 0 4em 0 4em;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .menu__item {
    font-size: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
}

@media (min-width: 500px) and (max-width: 640px) {
}

@media (min-width: 400px) and (max-width: 500px) {
}

@media (min-width: 300px) and (max-width: 400px) {
}

/********************  Media formating end **********************/

/********************  Boaz formating end **********************/
